<ul class="all-menu">
  <li>
    <a href="{% url 'admin_custom:users' %}"
       class="{% if request.resolver_match.url_name == 'users' %}
                all-menu-link all-menu-bottom all-menu-link-active
                {% else %}all-menu-link all-menu-bottom
              {% endif %}">
      users
    </a>
  </li>
  <li>
    <a href="{% url 'admin_custom:categories' %}"
       class="{% if request.resolver_match.url_name == 'categories' or category.name %}
                all-menu-link all-menu-bottom all-menu-link-active
                {% else %}all-menu-link all-menu-bottom
              {% endif %}">
      categories
    </a>
  </li>
  <li>
    <a href="{% url 'admin_custom:orders' %}"
       class="{% if request.resolver_match.url_name == 'orders'%}
                all-menu-link all-menu-bottom all-menu-link-active
                {% else %}all-menu-link all-menu-bottom
              {% endif %}">
      orders
    </a>
  </li>
</ul>
