<ul class="all-menu">
    <li>
        <a href="{% url 'products:category' 0 %}"
           class="{% if request.resolver_match.kwargs.pk == '0' %}
           all-menu-link all-menu-bottom all-menu-link-active
           {% else %}all-menu-link all-menu-bottom
           {% endif %}">ALL
        </a>
    </li>
{% for link in links_menu %}
    <li>
        <a href="{% url 'products:category' link.pk %}"
           class="{% if request.resolver_match.kwargs.pk|add:'0' == link.pk %}
           all-menu-link all-menu-bottom all-menu-link-active
           {% else %}all-menu-link all-menu-bottom
           {% endif %}">{{ link.name }}
        </a>
    </li>
{% endfor %}
</ul>


