<ul class="all-menu">
    <li><a href="{% url 'products' %}" class="all-menu-link all-menu-bottom">ALL</a></li>
    <li><a href="#" class="all-menu-link all-menu-bottom">HOME</a></li>
    <li><a href="#" class="all-menu-link all-menu-bottom">OFFICE</a></li>
    <li><a href="{% url 'product' %}" class="all-menu-link all-menu-bottom all-menu-link-active">FURNITURE</a></li>
    <li><a href="#" class="all-menu-link all-menu-bottom">MODERN</a></li>
    <li><a href="#" class="all-menu-link all-menu-bottom">CLASSIC</a></li>
</ul>