{% load custom_tags %}
<header class="header">
    <a class="logo" href="{% url 'index' %}"><img src="/static/img/logo.svg" alt="logo"></a>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'index' %}"
                   class="{% if request.resolver_match.view_name == 'index' %}
                       menu-link-active menu-link
                       {% else %}menu-link
                       {% endif %}"
            >HOME </a></li>
            <li class="menu-list"><a href="{% url 'products:category' 0 %}"
                                     class="{% if request.resolver_match.namespace == 'products' %}
                       menu-link-active menu-link
                       {% elif request.resolver_match.view_name == 'product' %}
                       menu-link-active menu-link
                       {% else %}menu-link
                       {% endif %}">PRODUCTS </a>
                <ul class="menu-in">
                    {% for type in types%}
                        <li>
                            <a href="{% url 'products:index' type.pk %}"
                               class="{% if request.resolver_match.kwargs.num == type.pk %}
                                       menu-link all-menu-link-active
                                       {% else %}menu-link
                                       {% endif %}">{{ type.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'contacts' %}"
                   class="{% if request.resolver_match.view_name == 'contacts' %}
                menu-link-active menu-link
                       {% else %}menu-link
                       {% endif %}">CONTACT</a></li>
            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin_custom:categories' %}"
                       class="{% if request.resolver_match.namespace == 'admin_custom' %}
                       menu-link-active menu-link
                       {% else %}menu-link
                       {% endif %}">Adminka</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="menu-list"><a class="{% if request.resolver_match.namespace == 'order' or  request.resolver_match.namespace == 'auth'%}
                       menu-link-active menu-link
                       {% else %}menu-link
                       {% endif %}">Hello {{ user.username}}</a>
                    <ul class="menu-in">
                        <li><a class="menu-link" href="{% url 'auth:edit' %}">Editing</a></li>
                        <li><a class="menu-link" href="{% url 'order:orders_list' %}">Orders</a></li>
                    </ul>
                </li>
                <li><a class="menu-link" href="{% url 'auth:logout' %}">Logout</a></li>
            {%  else %}
                <li class="menu-list"><a class="menu-link" href="{% url 'auth:login' %}">Login</a></li>
                <li><a class="menu-link" href="{% url 'auth:register' %}">Register</a></li>
            {% endif %}

            <li>
                <a href="{% url 'basket:view' %}" class="{% if request.resolver_match.namespace == 'basket' %}
                       menu-link-active menu-link
                       {% else %}menu-link
                       {% endif %}">
                    {{ basket|basket_total_cost|floatformat}} ({{ basket|basket_total_quantity}})
                </a>
            </li>

            <li><a href="#" class="menu-link"><img src="/static/img/search.svg" alt="search"></a></li>

        </ul>
        <img class="menu-mini" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"
             alt="menu-mini">
    </nav>
</header>

