{% extends 'mainapp/base.html' %}
{% load static %}
{% block div %}
    <div class="products-range padding-site">
{% endblock %}
{% block content %}
    <h2 class="products-range-h2 padding-site">Categories</h2>
    </div>
    <nav class="products-menu padding-site">
        {% include 'adminapp/includes/inc_menu.html' %}
    </nav>
    <div class="padding-site">
        <a class="admin-button" href={% url 'admin_custom:category_create' %}>
            Create new category
        </a>
        <div class="admin-box">
            {% for object in object_list %}
                <div class="admin-block
        {% if not object.is_active %}
            admin-not-active
        {% endif %}">
                    <h2 class="admin-block-h2">{{ object.name|title }}</h2>
                    <a class="admin-button" href={% url 'admin_custom:products' object.pk %}>
                        products category
                    </a>
                    <a class="admin-button" href={% url 'admin_custom:category_update' object.pk %}>
                        update
                    </a>
                    <a class="admin-button" href={% url 'admin_custom:category_delete' object.pk %}>
                        delete
                    </a>
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock %}