{% extends 'mainapp/base.html' %}
{% load static %}
{% block div %}
    <div class="products-range padding-site">
{% endblock %}
{% block content %}
    <h2 class="products-range-h2 padding-site">{{ title }}</h2>
    </div>
    <div class="order-box padding-site">
        {% include 'ordersapp/includes/inc_order_summary.html' %}
        <div class="order-block">
            {% for item in object.orderitems.select_related %}
                <div class="order-product">
                    <img class="order-img" src="{{MEDIA_URL}}{{ item.product.image}}"
                         alt="{{ item.product.short_desc }}">
                    <div class="order-h2">
                        {{ item.product.category.name }}
                    </div>
                    <div class="order-h4">{{ item.product.name }}
                        {{ item.product.price }}&nbsp$
                        x {{ item.quantity }} = {{ item.get_product_cost }}&nbsp$</div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'adminapp:orders' %}"
           class="admin-button">
            Orders
        </a>
        <a href="{% url 'adminapp:order_update' object.pk %}"
           class="admin-button">
            Update
        </a>
    </div>
{% endblock %}
