<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|upper}}
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="top">
        {% block div %}
        {% endblock %}
        {% block header %}
            {% include 'mainapp/includes/inc_menu.html' %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
        <footer class="footer padding-site">
            <div class="footer-text-1">
                <div class="contacts">
                    <h4 class="footer-h4">Contact Us</h4>
                    <p class="footer-p">132A Bridge Road Richmond VIC&nbsp;Australia.</p>
                    <p class="footer-p">Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com</p>
                </div>
                <div class="information">
                    <h4 class="footer-h4">Useful Information</h4>
                    <div class="information-text">
                        <div>
                            <a href="#" class="footer-link">
                                <h3 class="footer-h3">Sales terms</h3>
                            </a>
                            <a href="#" class="footer-link">
                                <h3 class="footer-h3">Customer care</h3>
                            </a>
                            <a href="#" class="footer-link">
                                <h3 class="footer-h3">Delivery</h3>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="footer-link">
                                <h3 class="footer-h3">Architect accounts</h3>
                            </a>
                            <a href="#" class="footer-link">
                                <h3 class="footer-h3">Careers</h3>
                            </a>
                            <a href="#" class="footer-link">
                                <h3 class="footer-h3">Exchanges &amp;&nbsp;returns</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="in-touch">
                    <h4 class="footer-h4">Let&rsquo;s Stay in&nbsp;Touch!</h4>
                    <p class="footer-p">Suscribe to&nbsp;know about our latest news, products and special offers just
                        for suscribers.</p>
                    <div class="footer-email">
                        <input class="footer-input-email" type="email" placeholder="your email address">
                        <input class="footer-input-submit" type="submit" value="">
                    </div>
                </div>
            </div>
            <div class="footer-text-2">
                <p class="footer-text-2-p">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p>
                <div class="social-links">
                    <a class="social" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="social" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="social" href="https://plus.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                    <a class="social" href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                </div>
                <p class="footer-text-2-p">Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p>
            </div>
        </footer>
    {% endblock %}
</div>
{% block js %}
{% endblock %}
</body>
</html>
