{% extends 'mainapp/base.html' %}
{% load static %}
{% load tz %}
            {% block div %}
            <div class="products-range padding-site">
            {% endblock %}
{            {% block content %}
                <h2 class="products-range-h2 padding-site">Contact Us</h2>
            </div>
            <div class="interior-contact padding-site">
                <div class="interior-contact-city">
                    <a href="#"><img class="placeholder"
                                     src="{% static 'img/placeholder-filled-point.svg' %}"
                                     alt="placeholder"></a>
                    <h3 class="contact-h3">London</h3>
                    {% timezone "Europe/London" %}
                        <h5 class="contact-p"> Time: {% now "H:i" %}</h5>
                    {% endtimezone %}
                    <h5 class="contact-h5">Phone:</h5>
                    <p class="contact-p">1900&nbsp;-&nbsp;1234&nbsp;-&nbsp;5678</p>
                    <h5 class="contact-h5">Email:</h5>
                    <p class="contact-p">info@interior.com</p>
                    <h5 class="contact-h5">Address:</h5>
                    <p class="contact-p contact-p-address">12&nbsp;W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="interior-contact-city">
                    <a href="#"><img class="placeholder" src="{% static 'img/placeholder-filled-point.svg' %}" alt="placeholder"></a>
                    <h3 class="contact-h3">Moscow</h3>
                    {% timezone "Europe/Moscow" %}
                        <h5 class="contact-p"> Time: {% now "H:i" %}</h5>
                    {% endtimezone %}
                    <h5 class="contact-h5">Phone:</h5>
                    <p class="contact-p">1900&nbsp;-&nbsp;1234&nbsp;-&nbsp;5678</p>
                    <h5 class="contact-h5">Email:</h5>
                    <p class="contact-p">info@interior.com</p>
                    <h5 class="contact-h5">Address:</h5>
                    <p class="contact-p contact-p-address">12&nbsp;W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="interior-contact-city">
                    <a href="#"><img class="placeholder" src="{% static 'img/placeholder-filled-point.svg' %}" alt="placeholder"></a>
                    <h3 class="contact-h3">Berlin</h3>
                    {% timezone "Europe/Berlin" %}
                        <h5 class="contact-p"> Time: {% now "H:i" %}</h5>
                    {% endtimezone %}
                    <h5 class="contact-h5">Phone:</h5>
                    <p class="contact-p">1900&nbsp;-&nbsp;1234&nbsp;-&nbsp;5678</p>
                    <h5 class="contact-h5">Email:</h5>
                    <p class="contact-p">info@interior.com</p>
                    <h5 class="contact-h5">Address:</h5>
                    <p class="contact-p contact-p-address">12&nbsp;W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
      {% endblock %}
