{% extends 'mainapp/base.html' %}
{% load static %}

{% block div %}
        <div class="padding-site">
{% endblock %}

{% block content %}
        </div>
            <nav class="product-details-menu">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
            </nav>
            <div class="product-details">
                <div class="product-slider">
                    <a href="/media/{{ product.image }}"><img class="product-slider-img"
                                     src="/media/{{ product.image }}"></a>
                    <div class="product-slider-pix">
                        <a href="{% url 'products:product' product.pk%}"><img class="product-slider-pix-img" src="/media/{{ product.image }}"></a>
                        <a href="{% url 'products:product' product.pk%}"><img class="product-slider-pix-img" src="/media/{{ product.image }}" alt="foto_chair_black"></a>
                        <a href="{% url 'products:product' product.pk%}"><img class="product-slider-pix-img product-slider-pix-img-active"
                                        src="/media/{{ product.image }}" alt="foto_chair_red"></a>
                    </div>
                </div>
                <div class="product-slider-text">
                    <h2 class="product-slider-text-h2">{{ product.name }}</h2>
                    <h4 class="slider-1-h4">{{ product.type }}</h4>
                    <div class="product-cost">
                        <p class="product-cost-currency">$ </p>
                        <p class="product-cost-num">{{ product.price }}</p>
                        <p class="product-cost-sq">/&nbsp;sq</p>
                    </div>
                    <a href="{% url 'basket:add' product.pk %}" class="product-details-button">
                        in&nbsp;basket
                        <img class="product-arrow-in-button" src="{% static 'img/arrow_product.svg' %}"
                            alt="arrow">
                    </a>
                    <div>
                        <p class="product-slider-text-p">
                            {{ product.description|linebreaksbr}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="related-products padding-site">
                <div class="trending-text">
                    <h2 class="trending-h2">Related Products</h2>
                    <a href="{% url 'products:category' product.category.pk %}" class="explore-all">explore all<img class="arrow" src="{% static 'img/arrow.svg' %}"></a>
                </div>
                <div class="trending-products">
                    {% for product in same_product %}
                    <a href="{% url 'products:product' product.pk %}" ><img class="trending-products-img" src="/media/{{ product.image }}" alt="{{ product.name }}"></a>
                    {% endfor %}
                </div>
            </div>
{% endblock %}
