{% extends 'mainapp/base.html' %}
{% load static %}
        {% block div %}
            <div class="products-range padding-site">
        {% endblock %}
{% block content %}
                <h2 class="products-range-h2 padding-site">Our Products Range</h2>
            </div>
            <nav class="products-menu padding-site">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
            </nav>
            <div class="trending-products padding-site ">
                {% for product in products %}
                <a href="{% url 'products:product' product.pk %}" class="trending-products-img">
                    <img src="/media/{{ product.image }}" alt="{{ product.name }}"></a>
                {% endfor %}
            </div>
            <div class="products-reload">
                <a href="#" class="products-reload-img">
                    <img src="{% static 'img/refresh.svg' %}"></a>
            </div>
{% endblock %}

